.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules
yarn-error.log
build
dist
# /media add when prod(maybe)
node_modules
.DS_Store
.env
.next
.vercel
